body{
    margin: 0;
}
.container{
    width: 100%;
    background: #1a1919;
}
.header-wrapper{
    display: flex;
    justify-content: space-around;
    gap: 100px;
    width: 100%;
    position: fixed;
    z-index: 2;
    height: 70px;
    background: rgba(0, 0, 0, 0.507) ;
}
.logo{
    align-self: center;
}
.header__list{
    display: flex;
    gap: 30px;
    list-style: none;
}
.header__list li {
    align-self: center;
}
.header__list a{
    text-decoration: none;
    font-size: 18px;
    font-family: 'TTNorms';
    color: #fff;
}
.header__list button{
   width: 140px;
   height: 38px;
   align-self: center;
   border-radius: 7px;
   border: 0;
}
.log-in{
    background: #7000ff;
    color: #fff;
    font-family: 'Arial';
}
.log-in:hover{
    background: rgb(86, 13, 182);
}
.personal-cobenit{
    width: 140px;
    height: 40px;
    align-self: center;
    transition: 0.6;
    background: transparent;
    color: #fff;
}
.personal-cobenit:hover{
    background: #6415cc;
    color: #fff;
}
.home-screen{
    display: flex;
    justify-content: center;
    gap: 200px;
    position: relative;
    z-index: 1;
}
.home__title{
    width: 400px;
    margin: 150px 0;
}
.home__title h1{
    width: 300px;
    font-size: 65px;
    display: flex;
    line-height: 60px;
    margin-bottom: 0;
    font-family: 'Arial';
    font-weight: 800;
    color: #fff;
}
.home__title p{
    width: 400px;
    color: gray;
    font-family: 'Arial';
    font-size: 27px;
}
.home__title button{
    width: 400px;
    background: #7000ff;
    padding: 20px 25px;
    border: 0;
    border-radius: 7px;
    color: #fff;
    font-size: 20px;
}
.fon-gradient{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #7000ff;
    position: absolute;
    z-index: -1;
    top: 180px;
    right: 150px;
    box-shadow: 20px 10px 200px #7000ff;
    filter: blur(100px);
}
.home-img{
    width: 100%;
    height: 450px;
    margin: 150px 10px;
}
.title-box-wrapper{
    display: flex;
    justify-content: center;
    width: 85%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.title-box{
    height: 60vh;
    border-radius: 40px;
    background-image: linear-gradient( rgba(255, 255, 255, 0.089) 0%, rgba(255, 255, 255, 0.01) 98%);;
    padding: 20px 70px;
    color: #fff;
}
.title-box h1{
    font-weight: 500;
    font-family: 'Arial';
    font-size: 35px;
    margin-bottom: 0;
}
.text-wrapper{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.linear-gradient-back{
    width: 300px;
    height: 300px;
    background: #7000ff;
    box-shadow: 20px 10px 400px #7000ff;
    filter: blur(100px);
    border-radius: 50%;
    top: 180px;
    position: absolute;
    z-index: -1;
}
.uzum__office{
    width: 100%;
    margin-top: 50px;
}
.responsive-saller-office{
    display: none;
}
.uzum__office img{
    width: 100%;
}
.set-up__servese{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 100px 0;
    position: relative;
    z-index: 1;
}
.set-up__servese h1{
    width: 800px;
    line-height: 57px;
    font-size: 40px;
    font-family: 'Arial';
    text-align: center;
    color: #fff;
}
.servise-text{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.servise-gradient{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #7000ff;
    text-align: center;
}
.set-up__servese button{
    width: 400px;
    background: #7000ff;
    padding: 20px 25px;
    border: 0;
    border-radius: 7px;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    align-self: center;
}
.servise-gradient{
    position: absolute;
    z-index: -1;
    left: 530px;
    top: 80px;
    box-shadow: 20px 10px 400px #7000ff;
    filter: blur(80px);
}
.card__servise img{
    width: 100px;
    align-self: center;
    margin-bottom: 30px;
}
.card__servise{
    width: 300px;
    height: 350px;
    padding: 0 25px;
    border-radius: 40px;
    background-image: linear-gradient( rgba(255, 255, 255, 0.089) 0%, rgba(255, 255, 255, 0.01) 98%);;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.uzum-text{
    padding: 0 120px;
    font-size: 40px;
    color: #fff;
    font-family: 'Arail';
    margin: 0;
}
.card__servise span{
    align-self: center;
    font-size: 25px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-family: "Arial";
}
.uzum__servise-wrapper{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 10px;
}
.servise__wrapper-row{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.instructions__wrapper{
    display: flex;
    padding: 200px 0;
    justify-content: center;
    gap: 280px;
}
.instructions__title{
    font-size: 20px;
    color: #fff;
    font-family: 'Arial';
}
.instructions__title p{
    width: 300px;
    font-family: 'Arial';
    margin-bottom: 40px;
}
.instructions__title button{
     width: 280px;
   height: 60px;
   align-self: center;
   border-radius: 7px;
   font-size: 18px;
   border: 0;
   background: #7000ff;
   color: #fff;
}
.instruction__img img{
    width: 500px;
    height: 300px;
}
.uzum__academy{
    display: flex;
    justify-content: center;
    margin-top: -100px;
    gap: 270px;
}
.academy__img img{
    width: 500px;
    height: 300px;
    margin: 0 -200px;
}
.academy__title{
    padding: 60px 0;
    font-size: 20px;
    color: #fff;
    font-family: 'Arial';
    line-height: 30px;
}
.academy__title h1{
    font-size: 25px;
    color: #fff;
    font-family: 'Arial';
}
.academy__title p{
     width: 300px;
    font-family: 'Arial';
    margin-bottom: 40px;
}
.academy__title button{
    width: 280px;
   height: 60px;
   align-self: center;
   border-radius: 7px;
   font-size: 18px;
   border: 0;
   background: #7000ff;
   color: #fff;
}
.advertise{
    display: flex;
    flex-direction: column;
}
.adver__title{
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
    flex-direction: column;
}
.adver__title h1{
    align-self: center;
   font-size: 40px;
   font-family: 'Arial';
   color: #fff;
}
.adver__title button{
    width: 330px;
    height: 70px;
    background: #7000ff;
    color: #fff;
    font-size: 23px;
    border-radius: 10px;
    border: 0;
    margin-bottom: 100px;
    margin-top: 100px;
    align-self: center;
}
.advertise__img{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.advertise__img img{
    width: 250px;
    flex-wrap: nowrap;
    align-self: center;
    align-content: space-between;
    margin-top: -100px;
}
.smi-box-wrapper{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.smi-box{
    width: 360px;
    height: 500px;
    background: #7000ff;
    margin-top: 100px;
}
.smi-box img{
    width: 100%;
    height: 260px;
}
.smi-title-wrapper h1{
    align-self: center;
    margin-top: 100px;
    font-size: 10px;
    color: #fff;
    font-family: 'Arial';
    font-size: 40px;
}
.smi-title-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-top: 100px;
}
.sim-title{
    padding: 0 20px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    font-family: 'Arial';
}
.sim-title span{
    display: block;
    font-size: 15px;
    margin-bottom: 40px;
}
.sim-title button{
    width: 100px;
    height: 50px;
    font-size: 17px;
    color: #fff;
    background: #7000ff;
    border-radius: 8px;
    border: 3px solid #fff;
}
.customer__wrapper{
    display: flex;
    justify-content: center;
    margin: 100px 0 50px 0;
    font-family: 'Arial';
    color: #fff;
    font-size: 40px;
}
.customer__comment{
    display: flex;
    flex-direction: column;
}
.comment-text-wrapper{
    display: flex;
    justify-content: center;
    gap: 50px;
    color: #fff;
    font-family: 'Arial';
}
.comment-text{
    width: 380px;
}
.comment-text h1{
    text-align: center;
}
.servise__title{
    font-size: 40px;
    font-family: 'Arial';
    color: #fff;
    padding: 0 100px;
}
.question__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.question__box{
    width: 85%;
    height: 65px;
    align-self: center;
    display: flex;
    justify-content: space-between;
    color: #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}
.question__box span{
    align-self: center;
    font-size: 22px;
    font-family: 'Arial';
    font-weight: 200;
}
.plus-box{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-self: center;
    background: transparent;
    display: flex;
    justify-content: center;
}
.plus-box:hover{
    background: #fff;
    color: black;
}
.fa-plus{
    align-self: center;
    
}
.question__box span{
    margin: 10px 0;
}
.contact-wrapper{
    display: flex;
    justify-content: center;
}
.fa-brands{
    font-size: 50px;
    color: #fff;
    align-self: center;
    margin-bottom: 20px;
    margin-top: 100px;
}
.contact-text{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: 30px;
    color: #fff;
    font-family: 'Arial';
    margin-top: 40px;
}
.apps-box{
    width: 300px;
    display: flex;
    flex-direction: column;
}
.apps-box button{
    width: 260px;
   height: 50px;
    align-self: center;
    border: 0;
    border-radius: 10px;
    background: #7000ff;
    color: #fff;
    font-size: 18px;
}
.bars{
    display: none;
}
footer{
    width: 100%;
    height: 400px;
    background: black;
    margin-top: 100px;
    display: flex;
}
.uzum-logo{
    padding: 50px 100px;
}
footer ul{
    font-weight: 50px;
    padding: 50px 50px;
    line-height: 50px;
}
footer a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
*{
    box-sizing: border-box;
}
@media screen and (max-width: 600px) {
    .header-wrapper{
        display: flex;
        align-items: center;
        text-align: center;
    }
    .header__list {
        display: none;
        width: 100%;
        height: 50px;
        background: #fff;
    }
    .bars{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #1a1919;
        color: #fff;
        display: flex;
        justify-content: center;
        align-self: center;
    }
    .fa-bars{
        align-self: center;
    }
    .home-img-wrapper{
        display: flex;
        justify-content: center;
    }
    .home-img{
        width: 300px;
        height: 300px;
    }
    .fon-gradient{
        width: 200px;
        height: 200px;
        position: absolute;
        left: 100px;
    }
    .home-screen{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .home__title{
        width: 100%;
        position: relative;
        top: -500px;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }
    .home__title h1{
        font-size: 35px;
        line-height: 30px;
        align-self: center;
    }
    .home__title p{
        width: 300px;
        font-size: 17px;
        align-self: center; 
    }
    .home__title button{
        width: 200px;
        height: 50px;
        padding: 0;
        align-self: center;
    }
    .title-box-wrapper{
        display: flex;
        justify-content: center;
        margin-top: -460px;
    }
    .title-box{
        width: 99%;
        padding: 0;
        border-radius: 17px;
    }
    .text-wrapper{
        display: flex;
        flex-direction: column;
    }
    .linear-gradient-back{
        width: 150px;
        height: 150px;
        filter: blur(30px);
        top: 10px;
        box-shadow: 10px 10px 100px #7000ff;
    }
    .text-wrapper p{
        margin-top: -1px;
        font-size: 15px;
        padding: 0 25px;
        font-family: 'Arial';
        color: rgba(121, 119, 119, 0.774);
    }
    .title-box h1{
        font-size: 18px;
        line-height: 23px;
        padding: 10px 25px;
        margin: 0;
    }
    .no-responsive-saller-office{
        display: none;
    }
    .responsive-saller-office{
        display: block;

    }
    .servise-text h1{
        width: 260px;
        font-size: 23px;
        line-height: 27px;
        margin-top: -70px;
        margin-bottom: 0;
    }
    .set-up__servese button{
        width: 70%;
        padding: 13px 0;
        margin-top: -80px;
    }
    .uzum-text{
        padding: 0;
        justify-content: center;
        display: flex;
        margin-top: -40px;
        margin-bottom: 20px;
    }
    .uzum-text h1{
        width: 200px;
        margin: 0;
        font-size: 25px;
        padding: 0;
        text-align: center;
    }
    .uzum__servise-wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .servise__wrapper-row{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .card__servise{
        align-self: center;
        width: 200px;
        height: 230px;
        border-radius: 18px;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .card__servise span{
        font-size: 15px;
    }
    .card__servise img{
        width: 70px;
        height: 70px;
       
    }
    .instructions__wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
    }
    .instruction__img{
        display: flex;
        justify-content: center;
    }
    .instruction__img img{
        width: 90%;
        height: 220px;
        padding: 0;
        margin-top: 170px;
    }
    .instructions__title{
        margin-top: -280px;
        margin-left: 17px;
    }
    .instructions__title h1{
        font-size: 22px;
        margin-bottom: 0;
    }
    .instructions__title p{
        font-size: 25px;
        margin-top: 12px;
    }
    .instructions__title button{
        width: 200px;
        border-radius: 20px;
        margin-top: -12px;
    }
    .uzum__academy{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .academy__img{
        display: flex;
        justify-content: center;
    }
    .academy__img img{
        width: 90%;
        height: 220px;
        padding: 0;
        margin-top: 70px;
    }
    .academy__title{
        margin-left: 17px;
        margin-top: -330px;
    }
    .academy__title h1{
        font-size: 22px;
        margin-bottom: 0;
    }
    .academy__title p{
        font-size: 25px;
        margin-top: 12px;
    }
    .academy__title button{
        width: 200px;
        border-radius: 20px;
        margin-top: -12px;
    }
    .advertise{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: -60px;
    }
    .adver__title button{
        width: 200px;
        height: 50px;
        font-size: 17px;
    }
    .adver__title h1{
        width: 240px;
        font-size: 27px;
        text-align: center;
    }
    .advertise__img{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 200px;
    }
    .advertise__img img{
        width: 200px;
        align-self: center;
    }
    .smi-box-wrapper{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .smi-box{
        width: 90%;
        align-self: center;
    }
    .smi-box img{
        width: 100%;
    }
    .sim-title{
        padding: 0 30px;
        font-size: 17px;
    }
    .sim-title span{
        font-size: 12px;
    }
    .customer__comment{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .customer__wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .customer__wrapper h1{
        align-self: center;
        font-size: 60px;
        text-align: center;
    }
    .comment-text-wrapper{
        display: flex;
        flex-direction: column;
    }
    .comment-text{
        width: 90%;
        align-self: center;
        display: flex;
        flex-direction: column;
    }
    .comment-text h1{
        font-size: 15px;
        font-weight: bold;
        margin: 0;
    }
    .comment-text p{
        font-size: 12px;
        width: 90%;
        align-self: center;
    }
    .servise__answer{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0;
        margin: 0;
        margin-top: 100px;
    }
    .servise__title h1{
        width: 200px;
        padding: 0;
        margin: 0;
        margin-left: -70px;
        font-size: 30px;
        margin-bottom: 20px;
    }
    .question__box{
        margin: 5px;
    }
    .question__box:last-child{
        margin: 0;
    }
    .question__wrapper{
        display: flex;
        justify-content: center;
    }
    .question__box span{
        width: 300px;
        font-size: 16px;
    }
    .question__box{
        width: 90%;
    }
    .plus-box{
        width: 40px;
        height: 37px;
        border-radius: 50%;
    }
    .contact__apps{
        display: flex;
        flex-direction: column;
    }
    .contact-text{
        align-self: center;
        margin-left: 17px;
        display: flex;
        justify-content: center;
    }
    .contact-text h1{
        align-self: center;
        text-align: center;
        line-height: 70px;
    }
    .contact-wrapper{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .apps-box{
        align-self: center;
    }
    .apps-box button{
        font-size: 17px;
    }
    footer{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .uzum-logo{
        display: flex;
        justify-content: center;
    }
    .uzum-logo img{
        width: 270px;
        align-self: center;
        margin: 0;
        padding: 0;
    }
    footer ul{
        align-self: center;
        margin-top: -80px;
    }
}